<section id="copyright">
	<aside>
		<a href="/cookies">Cookies</a>
		<a href="/terms">Terms</a>
		<a href="/privacy">Privacy</a>
		<a href="/security">Security</a>
	</aside>
	<aside>
		<p class="socials">
			<a href="https://twitter.com/lean-budget">
				<i class="bi-twitter"></i>
			</a>
			<a href="https://youtube.com/c/LeanBudget">
				<i class="bi-youtube"></i>
			</a>
		</p>
	</aside>
    <p>
        &copy; <span id="year"></span> Lean Budget
    </p>
</section>
