<section id="copyright">
	<aside>
		<a href="/cookies">Cookies</a>
		<a href="/terms">Terms</a>
		<a href="/privacy">Privacy</a>
		<a href="/security">Security</a>
	</aside>
	<aside>
		<p class="socials">
			<a href="https://twitter.com/bletchley_tech" target="_blank" rel="nofollow">
				<i class="bi-twitter"></i>
			</a>
			<a href="https://youtube.com/c/Bletchley Tech" target="_blank" rel="nofollow">
				<i class="bi-youtube"></i>
			</a>
			<a href="https://linkedin.com/company/bletchley-tech", target="_blank" rel="nofollow">
				<i class="bi-linkedin"></i>
			</a>
		</p>
	</aside>
    <p>
        &copy; <span id="year"></span> Bletchley Technological Solutions Inc.
    </p>
</section>
