<section id="copyright">
	<aside>
		<a href="/policies/cookies">Cookies</a>
		<a href="/policies/terms">Terms</a>
		<a href="/policies/privacy">Privacy</a>
		<a href="/policies/security">Security</a>
	</aside>
	<aside>
		<p class="socials">
			<a href="https://twitter.com/bletchley_tech" target="_blank" rel="nofollow noreferrer noopener">
				<i class="bi-twitter"></i>
			</a>
			<a href="https://youtube.com/c/Bletchley Tech" target="_blank" rel="nofollow noreferrer noopener">
				<i class="bi-youtube"></i>
			</a>
			<a href="https://linkedin.com/company/bletchley-tech", target="_blank" rel="nofollow noreferrer noopener">
				<i class="bi-linkedin"></i>
			</a>
		</p>
	</aside>
    <p>
        &copy; <%= new Date().getFullYear()%>  Bletchley Technological Solutions Inc.
    </p>
</section>
