<footer>
    <aside>
        <a href="/">Lean Budget</a>
        <a href="/signup">Sign Up Free</a>
        <a href="/login">Log In</a>
    </aside>
    <aside class="links">
        <p class="title">Product</p>
        <a href="/features" class="link">
            Features
            <i class="bi-chevron-right"></i>
        </a>
        <a href="/faq" class="link">
            FAQ
            <i class="bi-chevron-right"></i>
        </a>
    </aside>
    <aside class="links">
        <p class="title">Support</p>
        <a href="/support" class="link">
            Support
            <i class="bi-chevron-right"></i>
        </a>
        <a href="/learn" class="link">
            Learn
            <i class="bi-chevron-right"></i>
        </a>
    </aside>
</footer>