<footer>
    <aside>
        <a href="/">Lean Budget</a>
        <a href="/signup">Sign Up Free</a>
        <a href="/login">Log In</a>
    </aside>
    <aside class="links">
        <p class="title">Product</p>
        <a href="/features" class="link">
            Features
            <i class="bi-chevron-right"></i>
        </a>
        <a href="/faq" class="link">
            FAQ
            <i class="bi-chevron-right"></i>
        </a>
        <a href="/forum" class="link">
            Forum
            <i class="bi-chevron-right"></i>
        </a>
    </aside>
    <aside class="links">
        <p class="title">Company</p>
        <a href="/about" class="link">
            About Us
            <i class="bi-chevron-right"></i>
        </a>
        <a href="/customers" class="link">
            Customers
            <i class="bi-chevron-right"></i>
        </a>
        <a href="/blog" class="link">
            Blog
            <i class="bi-chevron-right"></i>
        </a>
    </aside>
    <aside class="links">
        <p class="title">Support</p>
        <a href="/help" class="link">
            Help
            <i class="bi-chevron-right"></i>
        </a>
        <a href="/learn" class="link">
            Learn
            <i class="bi-chevron-right"></i>
        </a>
        <a href="/contact" class="link">
            Contact
            <i class="bi-chevron-right"></i>
        </a>
    </aside>
</footer>