<header>
	<nav>
		<a href="/">Lean Budget</a>
		<div>
			<% if (path.includes("me/profile")) { %>
			<a href="/me/budget">Budget</a>
			<% } else if (path.includes("me/budget")) { %>
			<a href="/me/profile">Profile</a>
			<% } else { %>
			<a href="/login">Login</a>
			<a href="/signup">Sign Up</a>
			<% } %>
		</div>
	</nav>
</header>