nav
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
    border-bottom: 1px solid var(--text-color);
}
nav > a
{
    color: var(--headings-color);
    font-family: 'Outfit';
    font-size: 2.5rem;
    font-weight: 600;
}
nav > i
{
    display: none;
    color: #000000;
    cursor: pointer;
    padding: 1%;
    font-size: 2rem;
}
nav > div
{
    text-align: right;
    width: 50%;
}
nav > div a
{
    padding: 1% 2%;
    margin: 0 1%;
}
nav > div br
{
    display: none;
}
nav > div a:last-of-type
{
    color: var(--headings-color);
    border: 1px solid;
    border-radius: 5px;
}
nav > div a:last-of-type:hover
{
    color: #FFFFFF;
    background: var(--headings-color);
}
@media screen and (max-width: 550px)
{
    nav > i
    {
        display: block;
    }
    nav > div
    {
        display: none;
        width: 100%;
    }
    nav > div br
    {
        display: block;
    }
    nav > div.show
    {
        display: block;
        padding: 2% 0;
    }
    nav > div a
    {
        display: inline-block;
    }
    nav > div a:last-of-type
    {
        margin-top: 1%;
    }
}