main
{
    padding: 2% 2% 0;
}
h1
{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
}
.date
{
    color: #00000060;
    margin: 0 auto 5%;
    text-align: center;
}
h2
{
    margin-bottom: 1%;
}
ul
{
    list-style-type: none;
    margin: 1% 0;
    padding: 0;
}
ul li
{
    padding: 1%;
}
ul li p
{
    margin: 0;
}
main a
{
    color: var(--headings-color);
    text-decoration: underline;
}